{% extends 'base/base-int.twig' %}
{% block int_content %}
  {% if post.slug == 'actualites' %}
    <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      {% for item in actualites %}
        {% include 'components/fiches/fiche-actualites.twig' %}
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
