<a class="group flex items-center justify-center w-auto {{styles}} transition-all hover:bg-white hover:text-headings py-4 font-bold uppercase border-2 rounded-full font-headings text-white border-white px-11" href="{{url}}">
	{{text}}
	<svg class="w-6 h-6 ml-4 text-white group-hover:text-headings">

		<use xlink:href="{{theme.link}}/assets/build/icons.svg#long-arrow-right-light"></use>
	</svg>
</a>
