{% extends 'base/base.twig' %}
{% block content %}
  <div class="container bg-white reveal-section">
    {% include 'intro.twig' %}
    {% include 'destinos.twig' %}
    {% include 'medida.twig' %}
    {# {% include 'contacto.twig' %} #}
  </div>
{% endblock %}
