{#
  Title: Chapeau
  Description: Chapeau en haut de page
  Category: media
Icon: align-wide
  Keywords: "Chapeau"
  Mode: edit
  Align: full
  PostTypes: page post actualites
  SupportsMode: false
  SupportsMultiple: true
#}


<div class="content__chapeau">
    {{fields.chapeau}}
</div>
