// Fonts
// -------------------------
$base: "Myriad Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$headings: "Hermes";

// Colors
// -------------------------

$grey: #f3f3f3;
$light-grey: #f9f9f9;
$dark-grey: #cacaca;
$text-color: #525151;
$cyan: #12ccd7;
$light-blue: #009ba4;
$blue: #02648c;
$green: #95c707;
$violet: #7c1848;
$orange: #ffaf04;
$yellow: #ffd304;
$red: #e30e0e;

$pdf: #c70c0c;
$doc: #7199da;
$xls: #68b176;
$jpg: #eb7604;

$paddings-x-phone: 1rem;
$paddings-x-laptop: 6rem;
$paddings-x-desktop: 10rem;